* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(249, 232, 177));
    background-size: cover;
}

.mega-menu {
    /* background-color: rgba(193, 164, 221, 0.821); */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */

    >nav {
        width: 80%;
        height: 100%;
        /* border: 2px solid rgb(13, 12, 12); */
        position: relative;
        display: flex;
        justify-content: center;

        .logo {
            position: absolute;
            top: 0;
            left: 0;
            width: 30%;
            height: 100%;
            font-size: 50px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            align-items: center;

            >a {
                text-decoration: none;
                color: rgb(5, 5, 5);
                font-weight: bold;
                font-size: 32px;
            }

        }

        .main-menu {
            display: flex;
            justify-content: center;
            align-items: center;

            >li {
                list-style: none;

                &:hover {
                    .pic {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                >a {
                    /* background-color: rgb(109, 224, 224); */
                    display: flex;
                    height: 100%;
                    align-items: center;
                    text-decoration: none;
                    color: #000;
                    font-size: 18px;
                    text-transform: capitalize;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 0 40px;
                    transition: 1s;

                    >i {
                        margin-left: 10px;
                        font-size: 15px;
                    }

                    &:hover {
                        background-color: rgb(255, 242, 198);
                        color: rgb(170, 196, 245);
                    }


                }

                .pic {
                    display: flex;
                    height: 500px;
                    width: 100%;
                    background-color: rgba(170, 196, 245, 0.349);
                    position: absolute;
                    left: 0;
                    top: 80px;
                    border-radius: 3px;
                    visibility: hidden;
                    opacity: 0;
                    transition: 1s;

                    .submenu {
                        width: 25%;
                        height: 10%;
                        margin: 20px;
                        /* 
                        &:not(:first-child) {
                            border-left: 1px solid rgb(140, 169, 255);
                        } */

                        >h5 {
                            display: block;
                            padding: 10px 30px;
                            font-size: 20px;
                            color: rgb(103, 135, 228);
                        }

                        >li {
                            list-style: none;
                            width: 100%;
                            height: 100%;

                            >a {
                                font-size: 15px;
                                display: flex;
                                width: 100%;
                                height: 100%;
                                text-decoration: none;
                                color: #000;
                                align-items: center;
                                padding: 10px;
                                font-family: Arial, Helvetica, sans-serif;

                                &:hover {
                                    background-color: rgb(244, 228, 175);
                                }
                            }

                        }

                        >img {
                            width: 250px;
                            padding: 10px 30px;
                        }
                    }
                }
            }
        }

    }

}

.sticky {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    overflow: visible;
    cursor: pointer;

    &:hover {
        >img {
            scale: 1.5;
        }

        >.socials {
            opacity: 1;
            height: 60px;
        }

    }

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100px;
        transition: 1s;

    }
    >.socials {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        transition: 0.4s;
        opacity: 0;
        height: 50px;
        width: 100px;
        flex-direction: column;

        >a {
            color: rgb(12, 12, 12);
            transition: 1s;
            font-size: 22px;
        }
    }
}